.card {
  width: 189px;
  height: 349px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #e7e7e7;
  padding: 16px;
  border-radius: 8px;
  background-color: #fcfcfa;

  img {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    object-fit: contain;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
  }
  .writer {
    font-size: 14px;
  }
}
