@font-face {
  font-family: "IranYekan";
  font-style: normal;
  font-weight: normal;
  src: local("IranYekan"),
    url("/src/assets/fonts/IranYekan/IRANYekanMobileRegular.ttf")
      format("truetype");
}

body {
  margin: 0;
  font-family: "IranYekan";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "IranYekan";
}

.ant-layout-header {
  background: #00a2a4 !important;
}
